<div class="user-div" *ngIf="route === 'activate' && !user.isDeleted ;">
    <div class="user-name">{{user | userFullname }}</div>
    <div class="btn-div"><button class="btn btn-danger" (click)="deactiveUserClicked(user);">Deactive</button></div>
</div>

<div class="user-div-else" *ngIf="route === 'deleted' && user.isDeleted ;">
    <div class="user-name">{{user | userFullname}}</div>
    <div class="btn-div"><button class="btn btn-success" (click)="activeUserClicked(user);">Active</button></div>
</div>

<div class="user-div" *ngIf="route === 'manage' && !user.isDeleted ">
    <div class="user-name">{{user | userFullname}}</div>
    <div class="btn-div">
        <button class="btn btn-warning" (click)="handleEdit(user.id)" style="float:left"> Edit </button>
        <button class="btn btn-primary" (click)="handleDetails(user);">details</button>
    </div>
</div>

<div class="user-div-else" *ngIf="route === 'manage' && user.isDeleted ">
    <div class="user-name">{{user | userFullname}}</div>
    <div class="btn-div">
        <button class="btn btn-warning" (click)="handleEdit(user.id);" style="float:left"> Edit </button>
        <button class="btn btn-primary" (click)="handleDetails(user);">details</button>
    </div>
</div>