<div class="container">
    <form class="container" [formGroup]="updateForm" class="form-group">
        <div class="row">
            Password <input type="text" class="form-control" formControlName="password" />
        </div>
        <div class="row">
            Age <input type="number" class="form-control" formControlName="age" />
        </div>
    </form>
    <div>
        <button class="btn btn-primary" (click)="updateUser()" [disabled]="!updateForm.valid">
            Submit
        </button>
    </div>
</div>